# US Car Accidents Data Model
 *An ETL project that loads data of US Accidents, state demographics, holiday events into a Postgres database.*

## ETL Processing

In [12]:
import pandas as pd
import requests

In [13]:
%run create_database.py

In [ ]:
%run etl.py

### Load `accidents` data
* Loading one row for the accidents table

In [19]:
from create_database import connect_database
from sql_queries import *
#conn, cur = connect_database()

df = pd.read_csv('./data/us_accidents.csv', nrows=1)
for index, row in df.iterrows():
    """
    accident_row = (row.ID, 
                row.Severity, 
                row.Start_Time, 
                row.End_Time, 
                row.Start_Lat, 
                row.Start_Lng, 
                row.Description, 
                row.City, 
                row.County, 
                row.State,
                row.Weather_Timestamp, 
                row['Temperature(F)'], 
                row['Wind_Chill(F)'], 
                row['Humidity(%)'], 
                row['Pressure(in)'],
                row['Visibility(mi)'], 
                row['Wind_Speed(mph)'],
                row['Precipitation(in)'],
                row.Weather_Condition, 
                row.Amenity, 
                row.Bump, 
                row.Crossing,
                row.Give_Way, 
                row.Junction, 
                row.No_Exit, 
                row.Railway, 
                row.Roundabout, 
                row.Stop, 
                row.Traffic_Calming, 
                row.Traffic_Signal, 
                row.Turning_Loop,
                row.Sunrise_Sunset,
                row.Civil_Twilight,
                row.Nautical_Twilight,
                row.Astronomical_Twilight)
    """
    #cur.execute(insert_accidents, accident_row)
    
    ts = row.Start_Time
    #new_time = datetime.fromtimestamp(ts)
    print(type(ts))
    
    
#conn.close()

<class 'str'>

### Load `holidays` data

In [14]:
holidays_df = pd.read_csv('./data/usholidays.csv')
print(holidays_df.columns)

holidays_df.head()

Index(['Unnamed: 0', 'Date', 'Holiday'], dtype='object')

   Unnamed: 0        Date                              Holiday
0           0  2010-12-31                       New Year's Day
1           1  2011-01-17  Birthday of Martin Luther King, Jr.
2           2  2011-02-21                Washington's Birthday
3           3  2011-05-30                         Memorial Day
4           4  2011-07-04                     Independence Day

In [11]:
from create_database import connect_database
from sql_queries import *

conn, cur = connect_database()

ranking_df = pd.read_csv('./data/state_road_ratings.csv',delimiter=',',nrows=3)
ranking_df.columns = ['overall_rank','year','state','commute_time', 'public_transit','road_quality','bridge_quality']
for index, row in ranking_df.iterrows():
    row_rank = (row.overall_rank, row.year, row.state, row.commute_time, row.public_transit, row.road_quality, row.bridge_quality)
    cur.execute(insert_road_rank, row_rank)
conn.close()